@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Du har ej tillgång till den begärda resursen!</title>
    </head>
    <body>
        <div>
            <h1>Du har ej tillgång till den begärda resursen!</h1>
            <p>@Html.ActionLink("Ta mig till startsidan", "Index", "Home", new {area = ""}, null)</p>
        </div>
    </body>
</html>