@using ICom.Web.Infrastructure.HtmlHelpers
@using ICom.Web.Areas.Admin.Controllers.UserAdmin.ViewModels
@model CreateViewModel
@{
    ViewBag.Title = "Skapa ny användare";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Skapa ny användare</h2>

@using (Html.BeginForm()) {

    @Html.EditorFor(x => x.User)

    <p>@Html.Submit("Skapa")</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("/Assets/Scripts/app/userform.js")
}
